.img {
  height: 100px;
  width: 100px;
}

li {
  list-style: none;
}

.dashboard {
  display: flex;
  font-size: 16px;

}

button {
  background-color: rgb(112, 216, 245);
}

.recommendations {
  font-size: 12px;
}

h2{
  font-size: 14px;
}
