.img {
  height: 100px;
  width: 100px;
}

li {
  list-style: none;
}

.dashboard {
  display: flex;
  font-size: 20px;
}

button {
  background-color: rgb(112, 216, 245);
}

.recommendations {
  font-size: 20px;
}
