img {
  height: 400px;
  border-radius: 8px;
  display: flex;
}

.places {
  background-color: white;
  flex: 1;
  color: rgb(15, 13, 13);
  font-size: 20px;
  padding: 10px;
  margin: auto;
  
}

@media screen and (max-width: 500px){

  .places {
      flex-direction: column;
      height: auto;
  }
}