.places-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.place-image img {
  aspect-ratio: 1;
}

.heading {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
}

.heading h2 {
  font-weight: bold;
  margin: 0;
}
