img {
  max-width: 100%;
}

.places {
  background-color: rgb(25, 35, 69);
  flex: 1;
  color: white;
  
}

@media screen and (max-width: 500px){

  .places {
      flex-direction: column;
      height: auto;
  }
}